<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-user-manager.ZPM">
    <Module>
      <Name>iris-user-manager</Name>
      <Version>1.0.55</Version>
      <Description>InterSystems IRIS User Manager</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="User.PKG"/>
      <UnitTest Name="/tests" Package="User.Testcases" Phase="test"/>
      <FileCopy Name="csp/" Target="${cspdir}user/"/>
    </Module>
  </Document>
</Export>
